<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Edit Skill</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body class="text-bg-secondary">
    <div class="container text-bg-secondary fs-3 py-5">
      <form
        action="/skills/<%= skill._id %>?_method=PUT"
        method="POST"
        autocomplete="off"
      >
        <div class="mb-3">
          <label for="inputSkill" class="form-label">New Skill To Add</label>
          <input type="text" class="form-control w-50" id="inputSkill" name="name"value="<%= skill.name %>">
        </div>
        <div class="mb-3">
          <label for="url" class="form-label">Docs URL</label>
          <input type="text" class="form-control w-50" id="url" name="url" value="<%= skill.url %>">
        </div>
        <div class="mb-3">
          <label for="faLogo" class="form-label">Font Awesome Logo</label>
          <input type="text" class="form-control w-50" id="faLogo" name="falogo" value="<%= skill.falogo %>">
        </div>
        
        <button type="submit" class="btn btn btn-outline-light my-3">Submit</button>
        <a href="/skills" type="button" class="btn btn-outline-light mt-3 mb-3 w-20">Cancel</a>
      </form>
    </div>
  </body>
</html>