<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4487f42ddb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <title>My Skills</title>
</head>
<body class="container text-bg-secondary">
  <div class="container text-bg-secondary">
    <h1 class="text-center pb-3 fs-1">My Skills</h1>
    <div class="container d-flex justify-content-center">
      <ul class="list-group w-50">
        <% skills.forEach(skill => {%>
          <li class="fs-3 list-group-item">
            <div class="row">
              <div class="col">
                <i class="<%= skill.falogo %>"></i>
              </div>
              <div class="col">
                <%= skill.name %> 
              </div>
              <div class="col d-flex justify-content-end">
                <form action="/skills/<%= skill._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-danger btn-sm pl-3">x</button>
                </form>
              </div>
          </li>
        <% }) %> 
            </div>
      </ul>
    </div>
    <div class="d-flex justify-content-center">
      <a href="/skills/new" type="button" class="btn btn-outline-light mt-3 mb-3 w-20">Add A New Skill</a>
    </div>
  </div>
</body>
</html>